@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #08090d;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}